[Desktop Entry]
Name=Software Manager
Name[af]=Sagteware Bestuurder
Name[ar]=مدير البرمجيات
Name[de]=Software-Manager
Name[es]=Gerente de Software
Name[fr]=Gestionnaire de Logiciels
Name[fr_CA]=Gestionnaire de logiciels
Name[it]=Gestore Applicazioni
Name[pt]=Gestor de programas
Name[pt_BR]=Gerenciador de Aplicativos
Comment=Install new applications
Comment[af]=Installeer nuwe toepassings
Comment[ar]=تثبيت تطبيقات جديدة
Comment[de]=Neue Anwendungen installieren
Comment[es]=Instalar nuevas aplicaciones
Comment[fr]=Installer de nouvelles applications
Comment[fr_CA]=Installer de nouvelles applications
Comment[it]=Installa nuove applicazioni
Comment[pt]=Instalar novas aplicações
Comment[pt_BR]=Instalar novos aplicativos
Exec=maunainstall
Icon=maunainstall
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=KDE;
StartupNotify=true
