[Desktop Entry]
Name=Software Manager
Name[af]=Sagteware Bestuurder
Name[ar]=مدير البرمجيات
Name[ca]=Gestor de Programari
Name[da]=Software Manager
Name[de]=Software-Manager
Name[el]=Διαχειριστής λογισμικού
Name[en]=Software Manager
Name[es]=Gerente de Software
Name[et]=Tarkvarahaldur
Name[eu]=Software kudeatzailea
Name[fi]=Ohjelmistohallinta
Name[fil]=Tagapamahala ng Software
Name[fr]=Gestionnaire de Logiciels
Name[fr_CA]=Gestionnaire de logiciels
Name[he]=מנהל תוכנה
Name[hi]=सॉफ्टवेयर प्रबंधक
Name[id]=Manajer Perangkat Lunak
Name[it]=Gestore Applicazioni
Name[ja]=ソフトウェアマネージャー
Name[kea]=Gerente di Software
Name[ko]=소프트웨어 관리자
Name[nl]=Softwarebeheerder
Name[no]=Programvarebehandler
Name[pa]=ਸਾਫਟਵੇਅਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer oprogramowania
Name[pt]=Gestor de programas
Name[pt_BR]=Gerenciador de Aplicativos
Name[ro]=Manager software
Name[ru]=Менеджер программного обеспечения
Name[rue]=Справник софта
Name[sv]=Programvaruhanterare
Name[tr]=Yazılım Yöneticisi
Name[vi]=Quản trị viên phần mềm
Name[zh_CN]=软件经理
Name[zh_HK]=軟體經理
Name[zh_TW]=軟體經理
Name[zu]=Umphathi Wesoftware
Comment=Install new applications
Comment[af]=Installeer nuwe toepassings
Comment[ar]=تثبيت تطبيقات جديدة
Comment[ca]=Instal·leu noves aplicacions
Comment[da]=Installer nye applikationer
Comment[de]=Neue Anwendungen installieren
Comment[el]=Εγκαταστήστε νέες εφαρμογές
Comment[en]=Install new applications
Comment[es]=Instalar nuevas aplicaciones
Comment[et]=Installige uued rakendused
Comment[eu]=Instalatu aplikazio berriak
Comment[fi]=Asenna uusia sovelluksia
Comment[fil]=Mag-install ng mga bagong application
Comment[fr]=Installer de nouvelles applications
Comment[fr_CA]=Installer de nouvelles applications
Comment[he]=התקן יישומים חדשים
Comment[hi]=नए एप्लिकेशन इंस्टॉल करें
Comment[id]=Instal aplikasi baru
Comment[it]=Installa nuove applicazioni
Comment[ja]=新しいアプリケーションをインストールする
Comment[kea]=Instala aplikason novu
Comment[ko]=새 애플리케이션 설치
Comment[nl]=Installeer nieuwe applicaties
Comment[no]=Installer nye applikasjoner
Comment[pa]=ਨਵੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ ਨੂੰ ਸਥਾਪਿਤ ਕਰੋ
Comment[pl]=Zainstaluj nowe aplikacje
Comment[pt]=Instalar novas aplicações
Comment[pt_BR]=Instalar novos aplicativos
Comment[ro]=Instalați aplicații noi
Comment[ru]=Установите новые приложения
Comment[sv]=Installera nya applikationer
Comment[tr]=Yeni uygulamalar yükleyin
Comment[vi]=Cài đặt ứng dụng mới
Comment[zh_CN]=安装新应用程序
Comment[zh_HK]=安裝新應用程式
Comment[zh_TW]=安裝新應用程式
Comment[zu]=Faka izinhlelo zokusebenza ezintsha
Exec=maunainstall
Icon=maunainstall
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
NotShowIn=KDE;
StartupNotify=true
